---
layout: index
---

{% include index_navbar.html %}

<div class="section section-header" id="header">
    <div class="parallax filter filter-color-gray">
        <div id="header-background" class="image" style="background-image: url('/assets/img/header-7.jpg')"></div>
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <p>Furballize Ragdolls Cattery</p>
                    <h1 class="title-modern">波波球布偶貓舍</h1>
                    <div class="separator line-separator"><i class="fas fa-paw"></i></div>
                </div>

                <div class="button-get-started">
                    <a href="#about" class="btn btn-white btn-fill btn-lg scrolly">Learn more</a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>About us</h2>
                <div class="separator separator-danger"><i class="fas fa-paw"></i></div>
                <p class="description">
                    Furball 是我們的第一隻寵物布偶貓，來自美國正規布偶貓舍，她的陪伴讓我們從此深深愛上這個品種。布偶貓友善、黏人，是一種會想讓人收集的貓種。多年後我們試著在台灣尋找新的布偶貓成員，卻遲遲無法找到與我們理念相近的貓舍。因此我們決定以 Furball 的名字成立 <b>Furballize 波波球布偶貓舍</b>，代表著我們希望繁育像 Furball 一樣美好的存在，以自己的理念來繁育布偶貓，做一個在血統、環境跟繁育理念上跟國際貓舍接軌的台灣貓舍。
                </p>
                <p class="description">
                    <b>Furballize 波波球布偶貓舍</b>註冊於國際貓協 <a href="https://tica.org/" target="_blank">The International Cat Association (TICA)</a> 及 <a href="http://www.cfa.org/" target="_blank">Cat Fanciers' Association (CFA)</a>，並擁有特寵業許可證（特寵業繁字第 W1070462 號）。我們提倡多元化飲食，小貓在母乳外會人工補充 PetAg KMR 幼貓奶粉，離乳後以各類主食罐提供小貓全濕食餵養。環境方面，我們的貓咪們就跟大家的寵物一樣，是家庭生活的一部分，我們很注重貓咪過得快不快樂，有快樂的貓爸媽才有快樂的小布偶！
                </p>
                </p>
                <p class="description">
                    希望波波球貓舍朝著一個好的方向讓更多人認識、喜歡布偶貓。我們會在這裡持續分享關於布偶貓的小知識並隨時公布波波球布偶貓舍最新消息。也歡迎大家按讚及追蹤我們的 <a href="https://www.facebook.com/furballizerags" target="_blank">Facebook</a> 粉絲專頁以及 <a href="https://www.instagram.com/furballizeragdolls" target="_blank">Instagram</a>！
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="fas fa-heartbeat"></i>
                    </div>
                    <h3>健康保證</h3>
                    <p class="description">
                        在維持血統純正的情況下持續健康且負責任的繁育是我們最重要的目標。所有的貓爸爸、貓媽媽都是我們精挑細選從世界各國進口來台以增加貓舍的基因多樣性。除此之外，所有貓咪都必須經過貓白血病病毒 (FeLV) 與貓免疫缺陷病毒 (FIV) 血檢，還有肥厚性心肌病變 (HCM) 與貓多囊性腎臟病 (PKD) 等等的基因檢測，確認健康無虞，沒有遺傳性疾病後才能進行繁育。因為對基因健康有自信，我們提供每隻波波球小貓 18 個月的 HCM/PKD 基因遺傳疾病健康保證。
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon">
                        <img alt="TICA logo" src="/assets/img/tica-logo.png"/>
                        <img alt="CFA logo" src="/assets/img/cfa-logo.png"/>
                    </div>
                    <h3>TICA & CFA</h3>
                    <p class="description">我們是 TICA 與 CFA 雙註冊的合格貓舍。除了每隻貓咪都有 TICA 或 CFA 國際貓協登錄單以外，我們也以遵守台灣政府與貓協的相關規定為原則，重質不重量，讓每隻貓媽媽最多兩年生三胎，且提供貓咪們一個良好的生活環境（24 小時冷氣、多個寬敞的貓房與公共空間），來進行繁育計畫。波波球也會努力透過從世界各地引進新的血統來改良、加強品項特徵，並以繁育出最貼近現有 TICA/CFA 品種標準下的布偶貓為目標。</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="fas fa-cat"></i>
                    </div>
                    <h3>社會化</h3>
                    <p class="description">
                        我們希望波波球的每隻布偶貓都擁有厚實的骨量，湛藍的杏眼，絲綢般的貓毛，甜美夢幻的臉蛋，還有最重要的－良好性格。雖然一般來說布偶貓本身個性就十分溫和，然而我們相信，小貓經過合適的社會化後（包含母貓及小貓們之間的互動還有與人類的相處），你能在最短時間內明顯感受到小貓對人類的信賴與良好的家教，更能縮短小貓與家長及家中其他動物的磨合期。因此，我們的小貓出生後必須在貓舍待滿至少 14 - 16 週，學會使用貓砂，並且完成結紮手術後才能離開貓舍。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-our-team-freebie" id="kings-and-queens">
    <div class="parallax filter filter-color-black">
        <div class="image" style="background-image:url('/assets/img/header-2.jpg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="title-area">
                        <h2>Kings & Queens</h2>
                        <div class="separator separator-danger"><i class="fas fa-paw"></i></div>
                        <h4 class="description">波波球布偶貓舍的國王與皇后。點選每隻貓咪的卡片可以看到更多可愛的照片、頭銜證書與基因檢測資料喔！</h4>
                    </div>
                </div>

                <div class="team">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <!-- Leo -->
                        <div class="col-md-4">
                            <div class="card card-member">
                                <a>
                                    <div class="content">
                                        <div class="avatar img-male">
                                            <img alt="Leo profile photo" class="img-circle" src="/assets/img/leo-profile.jpg"/>
                                        </div>
                                        <div>
                                            <h3 class="title"><span class="flag-icon flag-icon-jp"></span> Leo <i class="fas fa-mars text-male"></i></h3>
                                            <p class="small-text text-male">RW QGC Lynfield Rolling Leo of Furballize</p>
                                            <h4 class="subtitle">藍雙色 (Blue Bicolor)</h4>
                                            <p class="description">
                                                來自日本的 Leo 承襲了老牌貓舍父母優秀的血統，在 2019 TICA 國際賽區得到 RW 頭銜並為年度最佳成貓組第三名、最佳長毛貓第一名、最佳布偶貓第一名和最佳藍雙色布偶貓第一名。Leo 的骨架粗壯，毛質是標準柔軟的兔毛觸感，長度適中從不需要擔心打結的問題，各個方面都完整呈現布偶貓品種該有的樣態。
                                            </p>
                                        </div>
                                    </div>
                                    <div class="buttons">
                                        <div class="gallery">
                                            <a href="/assets/img/leo-gallery/leo-1.jpg" data-lightbox="leo-gallery" class="btn btn-danger btn-fill btn-md">更多照片</a>
                                            {% for i in (2..8) %}
                                            <a href="/assets/img/leo-gallery/leo-{{ i }}.jpg" data-lightbox="leo-gallery"></a>
                                            {% endfor %}
                                        </div>

                                        <div class="certificate">
                                            <a href="/assets/img/leo-certificates-gallery/leo-1.png" data-lightbox="leo-certificates-gallery" class="btn btn-danger btn-fill btn-md">基因檢測報告</a>
                                            {% for i in (2..6) %}
                                            <a href="/assets/img/leo-certificates-gallery/leo-{{ i }}.jpg" data-lightbox="leo-certificates-gallery"></a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- Charlie -->
                        <div class="col-md-4">
                            <div class="card card-member">
                                <a>
                                    <div class="content">
                                        <div class="avatar img-male">
                                            <img alt="Charlie profile photo" class="img-circle" src="/assets/img/charlie-profile.jpg"/>
                                        </div>
                                        <div>
                                            <h3 class="title"><span class="flag-icon flag-icon-hu"></span> Charlie <i class="fas fa-mars text-male"></i></h3>
                                            <p class="small-text text-male">MirumKitty Charming Charlie of Furballize</p>
                                            <h4 class="subtitle">藍山貓雙色 (Blue Lynx Bicolor)</h4>
                                            <p class="description">
                                                Charlie 是位來自匈牙利的山貓紋小王子。除了骨架粗壯外，最迷人的就是他大大的眼睛，澎澎的嘴套，讓我一眼就決定是他了！聰明愛玩的 Charlie 狩獵能力出類拔萃，個性親人，是隻標準跟屁蟲，隨時在觀察人類的各種動向，當你跟他四目相交時，他一定會抓緊時機，要跟你喵上兩句求關注。
                                            </p>
                                        </div>
                                    </div>
                                    <div class="buttons">
                                        <div class="gallery">
                                            <a href="/assets/img/charlie-gallery/charlie-1.jpg" data-lightbox="charlie-gallery" class="btn btn-danger btn-fill btn-md">更多照片</a>
                                            {% for i in (2..4) %}
                                            <a href="/assets/img/charlie-gallery/charlie-{{ i }}.jpg" data-lightbox="charlie-gallery"></a>
                                            {% endfor %}
                                        </div>

                                        <div class="certificate">
                                            <a href="/assets/img/charlie-certificates-gallery/charlie-1.png" data-lightbox="charlie-certificates-gallery" class="btn btn-danger btn-fill btn-md">基因檢測報告</a>
                                            {% for i in (2..2) %}
                                            <a href="/assets/img/charlie-certificates-gallery/charlie-{{ i }}.png" data-lightbox="charlie-certificates-gallery"></a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <!-- LuLu -->
                        <div class="col-md-4">
                            <div class="card card-member">
                                <a>
                                    <div class="content">
                                        <div class="avatar img-female">
                                            <img alt="LuLu profile photo" class="img-circle" src="/assets/img/lulu-profile.jpg"/>
                                        </div>
                                        <div>
                                            <h3 class="title"><span class="flag-icon flag-icon-kr"></span> LuLu <i class="fas fa-venus text-female"></i></h3>
                                            <p class="small-text text-female">Appledolls Swanky LuLu of Furballize</p>
                                            <h4 class="subtitle">藍手套色 (Blue Mitted)</h4>
                                            <p class="description">
                                                LuLu 的可愛無法言喻！這位可愛優雅兼具的藍瞳美人來自韓國，有著非常標準的杏仁眼型，雖然身為女生但骨架、體態都非常優秀。LuLu 的興趣是吃東西，長期擔任波波球貓舍行政主廚，食物準備太慢會大叫抗議！適應力強，活潑愛玩，不論你的聚會有多少人，大方友善的 LuLu 都一定要參加！
                                            </p>
                                        </div>
                                    </div>
                                    <div class="buttons">
                                        <div class="gallery">
                                            <a href="/assets/img/lulu-gallery/lulu-1.jpg" data-lightbox="lulu-gallery" class="btn btn-danger btn-fill btn-md">更多照片</a>
                                            {% for i in (2..13) %}
                                            <a href="/assets/img/lulu-gallery/lulu-{{ i }}.jpg" data-lightbox="lulu-gallery"></a>
                                            {% endfor %}
                                        </div>

                                        <div class="certificate">
                                            <a href="/assets/img/lulu-certificates-gallery/lulu-1.png" data-lightbox="lulu-certificates-gallery" class="btn btn-danger btn-fill btn-md">基因檢測報告</a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- Dolly -->
                        <div class="col-md-4">
                            <div class="card card-member">
                                <a>
                                    <div class="content">
                                        <div class="avatar img-female">
                                            <img alt="Dolly profile photo" class="img-circle" src="/assets/img/dolly-profile.jpg"/>
                                        </div>
                                        <div>
                                            <h3 class="title"><span class="flag-icon flag-icon-us"></span> Dolly <i class="fas fa-venus text-female"></i></h3>
                                            <p class="small-text text-female">Rosecottage Toy Dolly of Furballize</p>
                                            <h4 class="subtitle">海豹雙色 (Seal Bicolor)</h4>
                                            <p class="description">來自美國的 Dolly 是我們家的美聲公主，不管跟她說什麼她都奶音回答：「豪～」。Dolly 眼睛像藍寶石又藍又透，再搭配甜美的臉蛋說聲「豪～」意亂情迷下我庫存又少了兩個罐頭！她的副業是小小按摩師，四隻小腳腳齊踏，踏遍你全身，想按多久就按多久，這麼貼心可愛實在很難不喜歡她！</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="buttons">
                                    <div class="gallery">
                                        <a href="/assets/img/dolly-gallery/dolly-1.jpg" data-lightbox="dolly-gallery" class="btn btn-danger btn-fill btn-md">更多照片</a>
                                        {% for i in (2..12) %}
                                        <a href="/assets/img/dolly-gallery/dolly-{{ i }}.jpg" data-lightbox="dolly-gallery"></a>
                                        {% endfor %}
                                    </div>

                                    <div class="certificate">
                                        <a href="/assets/img/dolly-certificates-gallery/dolly-1.png" data-lightbox="dolly-certificates-gallery" class="btn btn-danger btn-fill btn-md">基因檢測報告</a>
                                        {% for i in (2..2) %}
                                        <a href="/assets/img/dolly-gallery/dolly-{{ i }}.jpg" data-lightbox="dolly-gallery"></a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- MoMo -->
                        <div class="col-md-4">
                            <div class="card card-member">
                                <a>
                                    <div class="content">
                                        <div class="avatar img-female">
                                            <img alt="MoMo profile photo" class="img-circle" src="/assets/img/momo-profile.jpg"/>
                                        </div>
                                        <div>
                                            <h3 class="title"><span class="flag-icon flag-icon-us"></span> MoMo <i class="fas fa-venus text-female"></i></h3>
                                            <p class="small-text text-female">Blossom MoMo Magnolia of Furballize</p>
                                            <h4 class="subtitle">海豹手套色 (Seal Mitted)</h4>
                                            <p class="description">時而高貴時而呆萌的 MoMo 是位來自美國德州的甜姐兒。擁有一身標準的布偶貓兔毛，眼睛藍到不能再藍。個性極度甜美黏人，時常叼著偷來的逗貓棒在家裡跑來跑去，隨時準備好一顆玩樂的心。白天是小狗貓走到哪跟到哪，晚上喜歡枕著人類手臂睡覺融化你心！先不說了，MoMo 在叫我了！</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="buttons">
                                    <div class="gallery">
                                        <a href="/assets/img/momo-gallery/momo-1.jpg" data-lightbox="momo-gallery" class="btn btn-danger btn-fill btn-md">更多照片</a>
                                        {% for i in (2..10) %}
                                        <a href="/assets/img/momo-gallery/momo-{{ i }}.jpg" data-lightbox="momo-gallery"></a>
                                        {% endfor %}
                                    </div>

                                    <div class="certificate">
                                        <a href="/assets/img/momo-certificates-gallery/momo-1.jpg" data-lightbox="momo-certificates-gallery" class="btn btn-danger btn-fill btn-md">基因檢測報告</a>
                                        {% for i in (2..2) %}
                                        <a href="/assets/img/momo-gallery/momo-{{ i }}.jpg" data-lightbox="momo-gallery"></a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Crispy Love -->
                        <div class="col-md-4">
                            <div class="card card-member">
                                <a>
                                    <div class="content">
                                        <div class="avatar img-female">
                                            <img alt="Crispy profile photo" class="img-circle" src="/assets/img/crispy-love-profile.jpg"/>
                                        </div>
                                        <div>
                                            <h3 class="title"><span class="flag-icon flag-icon-tw"></span> Crispy Love <i class="fas fa-venus text-female"></i></h3>
                                            <p class="small-text text-female">Furballize Crispy Love</p>
                                            <h4 class="subtitle">藍雙色 (Blue Bicolor)</h4>
                                            <p class="description">Crispy Love aka 脆脆出生於波波球布偶貓舍，最愛黏著媽媽 MoMo，完全不想長大，是一隻布偶貓奴理想中那隻熱愛玩你丟我撿的狗狗貓。從小就活潑可愛的她是我們家的康樂股長與專職小貓褓母，對人類、對貓都非常友好、熱情、愛撒嬌，觀察力驚人，家中各個角落都在脆脆的掌握之中！</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="buttons">
                                    <div class="gallery">
                                        <a href="/assets/img/crispy-love-gallery/crispy-love-1.jpg" data-lightbox="crispy-love-gallery" class="btn btn-danger btn-fill btn-md">更多照片</a>
                                        {% for i in (2..12) %}
                                        <a href="/assets/img/crispy-love-gallery/crispy-love-{{ i }}.jpg" data-lightbox="crispy-love-gallery"></a>
                                        {% endfor %}
                                    </div>

                                    <div class="certificate">
                                        <a href="/assets/img/crispy-love-certificates-gallery/crispy-love-1.png" data-lightbox="crispy-love-certificates-gallery" class="btn btn-danger btn-fill btn-md">基因檢測報告</a>
                                        {% for i in (2..2) %}
                                        <a href="/assets/img/crispy-love-certificates-gallery/crispy-love-{{ i }}.png" data-lightbox="crispy-love-certificates-gallery"></a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Emma -->
                        <div class="col-md-4">
                            <div class="card card-member">
                                <a>
                                    <div class="content">
                                        <div class="avatar img-female">
                                            <img alt="Emma profile photo" class="img-circle" src="/assets/img/emma-profile.jpg"/>
                                        </div>
                                        <div>
                                            <h3 class="title"><span class="flag-icon flag-icon-tw"></span> Emma <i class="fas fa-venus text-female"></i></h3>
                                            <p class="small-text text-female">Furballize Lady Emma</p>
                                            <h4 class="subtitle">海豹手套色 (Seal Mitted)</h4>
                                            <p class="description">Emma 小姐是波波球自家繁育的小寶貝。身為一隻經典的布偶海豹手套，Emma 各方面條件都非常優秀，從體格、毛量、到眼睛色調都令人驚艷。這位個性憨厚、溫柔的傻大妞，從來不調皮搗蛋，總是靜靜地用一雙湛藍的大眼睛觀察著大家。平時 Emma 跟脆脆感情極好，是一動一靜的好姐妹。</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="buttons">
                                    <div class="gallery">
                                        <a href="/assets/img/emma-gallery/emma-1.jpg" data-lightbox="emma-gallery" class="btn btn-danger btn-fill btn-md">更多照片</a>
                                        {% for i in (2..6) %}
                                        <a href="/assets/img/emma-gallery/emma-{{ i }}.jpg" data-lightbox="emma-gallery"></a>
                                        {% endfor %}
                                    </div>

                                    <div class="certificate">
                                        <a href="/assets/img/emma-certificates-gallery/emma-1.png" data-lightbox="emma-certificates-gallery" class="btn btn-danger btn-fill btn-md">基因檢測報告</a>
                                        {% for i in (2..2) %}
                                        <a href="/assets/img/emma-certificates-gallery/emma-{{ i }}.png" data-lightbox="emma-certificates-gallery"></a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-our-clients-freebie" id="kittens">
    <div class="container">
        <div class="title-area">
            <h2>Kittens</h2>
            <div class="separator separator-danger"><i class="fas fa-paw"></i></div>
            <!-- <div class="alert alert-info" role="alert">
                Leo & Dolly 的小布偶們都已經找到愛他們的爸媽囉！有興趣等待下一胎小布偶的朋友們歡迎填單！
            </div> -->
            <div class="alert alert-success" role="alert">
                Leo & Dolly 的小貓出生囉！大概八月初會陸續開放讓渡，有興趣的朋友們可以關注臉書最新消息！
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 description">
                <ul>
                    <li>小貓價格包含 TICA 登錄單、絕育、生化血檢、兩劑三合一疫苗、晶片、驅蟲、寵物登記、過渡期罐頭、飼料、小玩具以及 18 個月 HCM、PKD 基因遺傳疾病健康保證。</li>
                    <li>我們不出售任何未結紮的布偶貓，也不提供配種。</li>
                    <li>很抱歉貓舍不對外開放，對我們有興趣的朋友，填妥預約單後我們會傳送貓咪照與影片給你挑選。</li>
                    <li>我們的價格合理，請勿議價。</li>
                </ul>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<div class="section section-small section-get-started" id="application">
    <div class="parallax filter">
        <div class="image"
            style="background-image: url(/assets/img/repeated-background.jpg)">
        </div>
        <div class="container">
            <div class="title-area">
                <h2 class="text-white">Application</h2>
                <div class="separator line-separator"><i class="fas fa-paw"></i></div>
                <p class="description">
                    感謝您對波波球布偶貓的喜愛！我們的價格依照小貓條件而定，最低讓渡價為新台幣八萬元。在您決定詢問小貓前，請先瀏覽過我們的合約。合約內容分為兩個部分，各別是健康保證與買方須知，詳讀內容並確認同意後再進行問卷調查。這份合約與問卷調查的目的並不是為了拿來為難準家長們的，而是希望您可以幫助我們將合適的小貓配對給您。如果您是真心喜愛我們的小貓，也願意做到把我們的寶貝當作一輩子的家人，用心愛護，不離不棄，我們相信這份合約與問卷並不會對您造成任何影響與約束。
                </p>
            </div>
            <div class="button-get-started">
                <a href="https://docs.google.com/forms/d/1R-tVDDsZevMIPh2Ri7cfXUk4QudOkzjVZxPt6ujTvao/edit" target="_blank" class="btn btn-danger btn-fill btn-lg">小貓詢問單</a>
            </div>
        </div>
    </div>
</div>
