---
layout: index
---

{% include index_navbar.html %}

<div class="section section-header" id="header">
    <div class="parallax filter filter-color-gray">
        <div id="header-background" class="image" style="background-image: url('/assets/img/header-7.jpg')"></div>
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <p>Furballize Ragdolls Cattery</p>
                    <h1 class="title-modern">波波球布偶貓舍</h1>
                    <div class="separator line-separator"><i class="fas fa-paw"></i></div>
                </div>

                <div class="button-get-started">
                    <a href="#about" class="btn btn-white btn-fill btn-lg scrolly">Learn more</a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>About us</h2>
                <div class="separator separator-danger"><i class="fas fa-paw"></i></div>
                <p class="description">
                    我們的第一隻布偶貓 Furball 是我們旅居美國時從正規布偶貓舍購買的寵物，Furball 的陪伴讓我們從此深深愛上這個品種。我們非常著迷布偶貓友善、黏人的個性，他是一種會想讓人收集的貓種。多年後回到了台灣，我們試著尋找新的布偶貓成員，卻遲遲無法找到與我們理念相近的貓舍，因此我們決定以 Furball 的名字成立 Furballize 波波球布偶貓舍，代表著我們希望繁育像 Furball 一樣美好的存在，以自己的理念來繁育布偶貓，做一個在血統、環境跟繁育理念上跟美國貓舍接軌的台灣貓舍。
                </p>
                <p class="description">
                    Furballize 註冊於國際貓協 <a href="https://tica.org/" target="_blank">The International Cat Association (TICA)</a> 及 <a href="http://www.cfa.org/" target="_blank">Cat Fanciers' Association (CFA)</a>。飲食方面，我們提倡多元化飲食並提供半/全濕食餵養。小貓在母乳外會人工補充 PetAg KMR 幼貓奶粉。離乳後跟大貓一樣，每日餵食至少兩餐濕食，包含各類主食罐、自製鮮食與商業生食並搭配符合 AAFCO 標準的進口無穀乾飼料。貓砂目前使用 BOXIECAT 美國博識貓與 EverClean 藍鑽凝結貓砂。環境方面，我們的貓咪們就跟大家的寵物一樣，是家庭生活的一部分，我們很注重貓咪過得快不快樂，因此不論大貓小貓都不關籠，所有貓咪都可以自由活動，房間是我們最小的隔離單位。
                </p>
                <p class="description">
                    希望波波球貓舍朝著一個好的方向讓更多人認識、喜歡布偶貓。我們會在這裡持續分享關於布偶貓的小知識並隨時公布波波球布偶貓舍最新消息。也歡迎大家按讚及追蹤我們的 <a href="https://www.facebook.com/furballizerags" target="_blank">Facebook</a> 粉絲專頁以及 <a href="https://www.instagram.com/furballizeragdolls" target="_blank">Instagram</a>！
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="fas fa-heartbeat"></i>
                    </div>
                    <h3>健康保證</h3>
                    <p class="description">
                        在維持血統純正的情況下持續健康且負責任的繁育是我們最重要的目標。所有的貓爸爸、貓媽媽都是我們精挑細選從世界各國進口來台以增加貓舍的基因多樣性。除此之外，所有貓咪都必須經過貓白血病病毒 (FeLV) 與貓免疫缺陷病毒 (FIV) 血檢，還有肥厚性心肌病變 (HCM) 與貓多囊性腎臟病 (PKD) 等等的基因檢測，確認健康無虞，沒有遺傳性疾病後才能進行繁育。因為對基因健康有自信，我們提供每隻波波球小貓 18 個月的 HCM/PKD 基因遺傳疾病健康保證。
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon">
                        <img alt="TICA logo" src="/assets/img/tica-logo.png"/>
                        <img alt="CFA logo" src="/assets/img/cfa-logo.png"/>
                    </div>
                    <h3>TICA & CFA</h3>
                    <p class="description">我們是 TICA 與 CFA 雙註冊的合格貓舍。除了每隻貓咪都有 TICA 或 CFA 國際貓協登錄單以外，我們也以遵守本地政府與貓協的相關規定為原則，重質不重量，讓每隻貓媽媽一年生一胎，最多兩年三胎，且提供貓咪們一個良好的生活環境（24 小時冷氣、多個寬敞的貓房與公共空間），來進行繁育計畫。波波球也會努力透過從世界各地引進新的血統來改良、加強品項特徵，並以繁育出最貼近現有 TICA/CFA 品種標準下的布偶貓為目標。</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="fas fa-cat"></i>
                    </div>
                    <h3>社會化</h3>
                    <p class="description">
                        我們希望波波球的每隻布偶貓都擁有厚實的骨量，湛藍的杏眼，絲綢般的貓毛，甜美夢幻的臉蛋，還有最重要的－良好性格。雖然一般來說布偶貓本身個性就十分溫和，然而我們相信，小貓經過合適的社會化後（包含母貓及小貓們之間的互動還有與人類的相處），你能在最短時間內明顯感受到小貓對人類的信賴與良好的家教，更能縮短小貓與家長及家中其他動物的磨合期。因此，我們的小貓出生後必須在貓舍待滿至少 12 - 16 週，學會使用貓砂，並且完成結紮手術後才能離開貓舍。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-our-team-freebie" id="kings-and-queens">
    <div class="parallax filter filter-color-black">
        <div class="image" style="background-image:url('/assets/img/header-2.jpg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="title-area">
                        <h2>Kings & Queens</h2>
                        <div class="separator separator-danger"><i class="fas fa-paw"></i></div>
                        <h4 class="description">波波球布偶貓舍的國王與皇后。點選每隻貓咪的卡片可以看到更多可愛的照片、頭銜證書與基因檢測資料喔！</h4>
                    </div>
                </div>

                <div class="team">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="card card-member">
                                <a href="/assets/img/leo-gallery/leo-1.jpg" data-toggle="lightbox" data-gallery="leo-gallery" data-type="image">
                                    <div class="content">
                                        <div class="avatar img-male">
                                            <img alt="Leo profile photo" class="img-circle" src="/assets/img/leo-profile.jpg"/>
                                        </div>
                                        <div>
                                            <h3 class="title">Leo <i class="fas fa-mars text-male"></i></h3>
                                            <p class="small-text text-male">RW QGC Lynfield Rolling Leo of Furballize</p>
                                            <h4 class="subtitle">藍雙色 (Blue Bicolor)</h4>
                                            <hr>
                                            <p class="description">
                                                來自日本的 Leo 是美國與德國知名老牌貓舍的結晶。承襲了父母優秀的血統，不負眾望地在 2019 TICA 國際賽區得到 RW 頭銜並為年度最佳成貓組第三名 (Third Best Cat of the Year)、最佳長毛貓第一名 (Best Longhair of the Year)、最佳布偶貓第一名 (Best Ragdoll of the Year) 和最佳藍雙色布偶貓第一名 (Best Blue Point/Bicolor Ragdoll of the Year)。Leo 的骨架粗壯，毛質是標準柔軟的兔毛觸感，長度適中從不需要擔心打結的問題，各個方面都完整呈現布偶貓品種該有的樣態。個性溫柔的他，平時在家路倒、討摸的技能堪稱一流。
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                <div class="certificate">
                                    <a href="/assets/img/leo-certificates-gallery/leo-1.png" data-toggle="lightbox" data-type="image" class="btn btn-danger btn-fill btn-md">基因檢測報告</a>
                                </div>
                                <!-- leo gallery -->
                                {% for i in (2..14) %}
                                <div data-remote="/assets/img/leo-gallery/leo-{{ i }}.jpg" data-toggle="lightbox" data-gallery="leo-gallery" class="col-sm-4"></div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-member">
                                <a href="/assets/img/lulu-gallery/lulu-1.jpg" data-toggle="lightbox" data-gallery="lulu-gallery" data-type="image">
                                    <div class="content">
                                        <div class="avatar img-female">
                                            <img alt="LuLu profile photo" class="img-circle" src="/assets/img/lulu-profile.jpg"/>
                                        </div>
                                        <div>
                                            <h3 class="title">LuLu <i class="fas fa-venus text-female"></i></h3>
                                            <p class="small-text text-female">Appledolls SwankyLuLu of Furballize</p>
                                            <h4 class="subtitle">藍手套色 (Blue Mitted)</h4>
                                            <hr>
                                            <p class="description">
                                                LuLu 的可愛無法言喻！這位可愛優雅兼具的藍瞳美人來自韓國，興趣是吃東西，長期擔任波波球貓舍行政主廚，食物準備太慢會大叫抗議！適應力強，活潑愛玩，不論你的聚會有多少人，大方友善的 LuLu 都一定要參加！
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                <div class="certificate">
                                    <a href="/assets/img/lulu-certificates-gallery/lulu-1.png" data-toggle="lightbox" data-type="image" class="btn btn-danger btn-fill btn-md">基因檢測報告</a>
                                </div>
                                <!-- lulu gallery -->
                                {% for i in (2..13) %}
                                <div data-remote="/assets/img/lulu-gallery/lulu-{{ i }}.jpg" data-toggle="lightbox" data-gallery="lulu-gallery" class="col-sm-4"></div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-member">
                                <a href="/assets/img/dolly-gallery/dolly-1.jpg" data-toggle="lightbox" data-gallery="dolly-gallery" data-type="image">
                                    <div class="content">
                                        <div class="avatar img-female">
                                            <img alt="Coming soon photo" class="img-circle" src="/assets/img/dolly-profile.jpg"/>
                                        </div>
                                        <div>
                                            <h3 class="title">Dolly <i class="fas fa-venus text-female"></i></h3>
                                            <p class="small-text text-female">Rosecottage Toy Dolly of Furballize</p>
                                            <h4 class="subtitle">海豹雙色 (Seal Bicolor)</h4>
                                            <hr>
                                            <p class="description">來自美國的 Dolly 個性大方愛說話，有著一雙使人意亂情迷的美瞳，眼睛又藍又透，搭配甜美的臉龐，盯著你喵起來庫存肯定要少兩個罐頭！Dolly 的副業是小小按摩師，四隻小腳腳齊踏，踏遍你全身，想按多久就按多久，這麼貼心可愛實在很難不喜歡她！</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="certificate">
                                    <a href="/assets/img/dolly-certificates-gallery/dolly-1.png" data-toggle="lightbox" data-type="image" class="btn btn-danger btn-fill btn-md" data-gallery="dolly-certificates-gallery">基因檢測報告</a>
                                </div>
                                <!-- dolly certificate gallery -->
                                {% for i in (2..2) %}
                                <div data-remote="/assets/img/dolly-certificates-gallery/dolly-{{ i }}.png" data-toggle="lightbox" data-gallery="dolly-certificates-gallery" class="col-sm-4"></div>
                                {% endfor %}
                                <!-- dolly gallery -->
                                {% for i in (2..12) %}
                                <div data-remote="/assets/img/dolly-gallery/dolly-{{ i }}.jpg" data-toggle="lightbox" data-gallery="dolly-gallery" class="col-sm-4"></div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-member">
                                <a>
                                    <div class="content">
                                        <div class="avatar img-female">
                                            <img alt="Coming soon photo" class="img-circle" src="/assets/img/momo-profile.jpg"/>
                                        </div>
                                        <div>
                                            <h3 class="title">Momo <i class="fas fa-venus text-female"></i></h3>
                                            <p class="small-text text-female">Coming soon</p>
                                            <h4 class="subtitle">海豹手套色 (Seal Mitted)</h4>
                                            <hr>
                                            <p class="description">海豹手套色 Momo 妹妹很快就會跟大家見面喔！</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="certificate">
                                    <a href="#" data-toggle="lightbox" data-type="image" class="btn btn-danger btn-fill btn-md disabled">基因檢測報告</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-our-clients-freebie" id="kittens">
    <div class="container">
        <div class="title-area">
            <h2>Kittens</h2>
            <div class="separator separator-danger"><i class="fas fa-paw"></i></div>
            <div class="alert alert-info" role="alert">
                Leo & LuLu 的小布偶們都已經找到愛他們的爸媽囉！有興趣等待下一胎小布偶的朋友們歡迎填單！
            </div>
        </div>

        <ul class="nav nav-text">
            <li>
                <a>
                    <div class="image-clients">
                        <img alt="Coming soon photo" class="img-circle" src="/assets/img/coming-soon/coming-soon-2.png"/>
                    </div>
                </a>
            </li>
        </ul>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 description">
                <hr>
                <ul>
                    <li>小貓價格包含 TICA/CFA 登錄單、氣麻結紮、兩劑無佐劑三合一疫苗、無佐劑狂犬病疫苗、晶片、驅蟲、寵物登記、過渡期罐頭、飼料、零食、小玩具、特約獸醫師開立之健康證明，以及 18 個月 HCM、PKD 基因遺傳疾病健康保證。</li>
                    <li>我們不出售任何未結紮的布偶貓，也不提供配種。</li>
                    <li>很抱歉貓舍不對外開放，對我們有興趣的朋友，填妥預約單後我們會傳送貓咪照與影片給你挑選。</li>
                    <li>我們的價格合理，請勿議價。</li>
                </ul>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<div class="section section-small section-get-started" id="application">
    <div class="parallax filter">
        <div class="image"
            style="background-image: url(/assets/img/repeated-background.jpg)">
        </div>
        <div class="container">
            <div class="title-area">
                <h2 class="text-white">Application</h2>
                <div class="separator line-separator"><i class="fas fa-paw"></i></div>
                <p class="description">
                    感謝您對波波球布偶貓的喜愛，我們的價格依照小貓條件而定，最低讓渡價為新台幣六萬。在您決定詢問小貓前，請先瀏覽過我們的合約。合約內容分為兩個部分，各別是健康保證與買方須知，請您同意合約內容再填詢問單。這份合約的目的並不是為了拿來為難準家長們的，而是希望喜歡布偶貓的你可以做到把我們的寶貝當作一輩子的家人，用心愛護，不離不棄。如果你是真心喜愛我們的小貓，這份合約並不會對你造成任何影響與約束。
                </p>
            </div>
            <div class="button-get-started">
                <a href="https://docs.google.com/forms/d/1R-tVDDsZevMIPh2Ri7cfXUk4QudOkzjVZxPt6ujTvao/edit" target="_blank" class="btn btn-danger btn-fill btn-lg">小貓詢問單</a>
            </div>
        </div>
    </div>
</div>
