---
layout: kings_and_queens
title: Kings and Queens
---
<div class="section section-our-clients-freebie">
  <div class="container">
      <div class="title-area">
          <h2>Kings and Queens</h2>
          <div class="separator separator-danger"><i class="fas fa-paw"></i></div>
      </div>

      <!-- Leo -->
      <div class="row cat">
        <!-- <div class="col-md-6 gallery">
          <div id="nanogallery_leo"></div>
        </div> -->
        <div class="col-md-6 cat-proflie">
          <div class="avatar img-male">
            <img alt="Leo profile photo" class="img-circle" src="/assets/img/leo-profile.jpg"/>
          </div>
        </div>
        <div class="col-md-6 cat-description">
            <h3 class="title">Leo <i class="fas fa-mars text-male"></i> <span class="subtitle">藍雙色 (Blue Bicolor)</span></h3>
            <span class="small-text text-male fullname">RW QGC Lynfield Rolling Leo of Furballize</span>
            <p class="description">
              來自日本的 Leo 是美國與德國知名老牌貓舍的結晶。承襲了父母優秀的血統，不負眾望地在 2019 TICA 國際賽區得到 RW 頭銜並為年度最佳成貓組第三名 (Third Best Cat of the Year)、最佳長毛貓第一名 (Best Longhair of the Year)、最佳布偶貓第一名 (Best Ragdoll of the Year) 和最佳藍雙色布偶貓第一名 (Best Blue Point/Bicolor Ragdoll of the Year)。Leo 的骨架粗壯，毛質是標準柔軟的兔毛觸感，長度適中從不需要擔心打結的問題，各個方面都完整呈現布偶貓品種該有的樣態。個性溫柔的他，平時在家路倒、討摸的技能堪稱一流。
            </p>
            <div class="buttons">
              <div class="gallery">
                <a href="/assets/img/leo-gallery/leo-1.jpg" data-lightbox="leo-gallery" class="btn btn-danger btn-fill btn-md">更多照片</a>
                {% for i in (2..8) %}
                <a href="/assets/img/leo-gallery/leo-{{ i }}.jpg" data-lightbox="leo-gallery"></a>
                {% endfor %}
              </div>

              <div class="certificate">
                <a href="/assets/img/leo-certificates-gallery/leo-1.png" data-lightbox="leo-certificates-gallery" class="btn btn-danger btn-fill btn-md">基因檢測報告</a>
                {% for i in (2..6) %}
                <a href="/assets/img/leo-certificates-gallery/leo-{{ i }}.jpg" data-lightbox="leo-certificates-gallery"></a>
                {% endfor %}
              </div>
            </div>
        </div>
      </div>

      <hr>

      <!-- Charlie -->
      <div class="row cat">
        <div class="col-xs-12 col-md-6 col-md-push-6 gallery">
          <div id="nanogallery_charlie"></div>
        </div>
        <div class="col-xs-12 col-md-6 col-md-pull-6 cat-description">
            <h3 class="title">Charlie <i class="fas fa-mars text-male"></i> <span class="subtitle">藍雙色 (Blue Bicolor)</span></h3>
            <span class="small-text text-male fullname">Charlie Hey Charlie</span>
            <p class="description">
              Crispy Love aka 脆脆出生於波波球布偶貓舍，是一隻布偶貓奴理想中那隻熱愛玩你丟我撿的狗狗貓。從小就活潑可愛的她是我們家的康樂股長，對人類、對貓都非常友好、熱情、愛撒嬌，而且觀察力驚人，家中各個角落都在脆脆的掌握之中！
            </p>
            <div class="certificate">
              <a href="/assets/img/charlie-certificates-gallery/charlie-1.png" data-lightbox="charlie-certificates-gallery" class="btn btn-danger btn-fill btn-md">基因檢測報告</a>
              {% for i in (2..2) %}
              <a href="/assets/img/charlie-certificates-gallery/charlie-{{ i }}.png" data-lightbox="charlie-certificates-gallery"></a>
              {% endfor %}
            </div>
        </div>
      </div>

      <hr>

      <!-- LuLu -->
      <div class="row cat">
        <div class="col-md-6 gallery">
          <div id="nanogallery_lulu"></div>
        </div>
        <div class="col-md-6 cat-description">
          <h3 class="title">LuLu <i class="fas fa-mars text-female"></i> <span class="subtitle">藍手套色 (Blue Mitted)</span></h3>
          <span class="small-text text-female fullname">Appledolls SwankyLuLu of Furballize</span>
          <p class="description">
            LuLu 的可愛無法言喻！這位可愛優雅兼具的藍瞳美人來自韓國，興趣是吃東西，長期擔任波波球貓舍行政主廚，食物準備太慢會大叫抗議！適應力強，活潑愛玩，不論你的聚會有多少人，大方友善的 LuLu 都一定要參加！
          </p>
          <div class="certificate">
            <a href="/assets/img/lulu-certificates-gallery/lulu-1.png" data-lightbox="lulu-certificates-gallery" class="btn btn-danger btn-fill btn-md">基因檢測報告</a>
          </div>
        </div>
      </div>

      <hr>

      <!-- Dolly -->
      <div class="row cat">
        <div class="col-xs-12 col-md-6 col-md-push-6 gallery">
          <div id="nanogallery_dolly"></div>
        </div>
        <div class="col-xs-12 col-md-6 col-md-pull-6 cat-description">
            <h3 class="title">Dolly <i class="fas fa-mars text-female"></i> <span class="subtitle">海豹雙色 (Seal Bicolor)</span></h3>
            <span class="small-text text-female fullname">Rosecottage Toy Dolly of Furballize</span>
            <p class="description">
              來自美國的 Dolly 個性大方愛說話，有著一雙使人意亂情迷的美瞳，眼睛又藍又透，搭配甜美的臉龐，盯著你喵起來庫存肯定要少兩個罐頭！Dolly 的副業是小小按摩師，四隻小腳腳齊踏，踏遍你全身，想按多久就按多久，這麼貼心可愛實在很難不喜歡她！
            </p>
            <div class="certificate">
              <a href="/assets/img/dolly-certificates-gallery/dolly-1.png" data-lightbox="dolly-certificates-gallery" class="btn btn-danger btn-fill btn-md">基因檢測報告</a>
              {% for i in (2..2) %}
              <a href="/assets/img/dolly-certificates-gallery/dolly-{{ i }}.png" data-lightbox="dolly-certificates-gallery"></a>
              {% endfor %}
            </div>
        </div>
      </div>

      <hr>

      <!-- MoMo -->
      <div class="row cat">
        <div class="col-md-6 gallery">
          <div id="nanogallery_momo"></div>
        </div>
        <div class="col-md-6 cat-description">
          <h3 class="title">MoMo <i class="fas fa-mars text-female"></i> <span class="subtitle">海豹手套色 (Seal Mitted)</span></h3>
          <span class="small-text text-female fullname">Blossom MoMo Magnolia of Furballize</span>
          <p class="description">
            時而高貴時而呆萌的 MoMo 是位來自美國德州的甜姐兒。擁有一身標準的布偶貓兔毛，眼睛藍到不能再藍。個性極度甜美黏人，隨時準備好一顆玩樂的心。白天是小狗貓走到哪跟到哪，晚上喜歡枕著人類手臂睡覺融化你心！先不說了，MoMo 在叫我了！
          </p>
          <div class="certificate">
            <a href="/assets/img/momo-certificates-gallery/momo-1.png" data-lightbox="momo-certificates-gallery" class="btn btn-danger btn-fill btn-md">基因檢測報告</a>
            {% for i in (2..2) %}
              <a href="/assets/img/momo-certificates-gallery/momo-{{ i }}.png" data-lightbox="momo-certificates-gallery"></a>
              {% endfor %}
          </div>
        </div>
      </div>

      <hr>

      <!-- Crispy -->
      <div class="row cat">
        <div class="col-xs-12 col-md-6 col-md-push-6 gallery">
          <div id="nanogallery_crispy"></div>
        </div>
        <div class="col-xs-12 col-md-6 col-md-pull-6 cat-description">
            <h3 class="title">Crispy <i class="fas fa-mars text-female"></i> <span class="subtitle">藍雙色 (Blue Bicolor)</span></h3>
            <span class="small-text text-female fullname">Furballize Crispy Love</span>
            <p class="description">
              Crispy Love aka 脆脆出生於波波球布偶貓舍，是一隻布偶貓奴理想中那隻熱愛玩你丟我撿的狗狗貓。從小就活潑可愛的她是我們家的康樂股長，對人類、對貓都非常友好、熱情、愛撒嬌，而且觀察力驚人，家中各個角落都在脆脆的掌握之中！
            </p>
            <div class="certificate">
              <a href="/assets/img/crispy-certificates-gallery/crispy-1.png" data-lightbox="crispy-certificates-gallery" class="btn btn-danger btn-fill btn-md">基因檢測報告</a>
              {% for i in (2..2) %}
              <a href="/assets/img/crispy-certificates-gallery/crispy-{{ i }}.png" data-lightbox="crispy-certificates-gallery"></a>
              {% endfor %}
            </div>
        </div>
      </div>

      <hr>

      <!-- Emma -->
      <div class="row cat">
        <div class="col-md-6 gallery">
          <div id="nanogallery_emma"></div>
        </div>
        <div class="col-md-6 cat-description">
          <h3 class="title">Emma <i class="fas fa-mars text-female"></i> <span class="subtitle">海豹手套色 (Seal Mitted)</span></h3>
          <span class="small-text text-female fullname">Furballize Lady Emma</span>
          <p class="description">
            Emma 小姐是波波球自家繁育的小寶貝。身為一隻經典的布偶海豹手套，Emma 各方面條件都非常優秀，從體格、毛量、到眼睛色調都令人驚艷。這位個性憨厚、溫柔的傻大妞，從來不調皮搗蛋，總是靜靜地用一雙湛藍的大眼睛觀察著大家。平時 Emma 跟脆脆感情極好，是一動一靜的好姐妹。
          </p>
          <div class="certificate">
            <a href="/assets/img/emma-certificates-gallery/emma-1.png" data-lightbox="emma-certificates-gallery" class="btn btn-danger btn-fill btn-md">基因檢測報告</a>
            {% for i in (2..2) %}
              <a href="/assets/img/emma-certificates-gallery/emma-{{ i }}.png" data-lightbox="emma-certificates-gallery"></a>
              {% endfor %}
          </div>
        </div>
      </div>
  </div>
</div>
