@import 'partials/variables';
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

a {
  &:hover {
    color: $default-color !important;
  }

  &.btn-danger:hover {
    color: white !important;
  }
}

p {
  a {
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}

#about {
  .info-icon {
    img {
      width: 33%;
    }
  }
  .description {
    text-align: left;
  }
}

#application {
  .container {
    margin-bottom: 5em;
  }
  .button-get-started {
    .btn-lg {
      font-size: 16px;
      padding: 16px 20px;
    }
  }
  .title-area {
    margin-bottom: 3em;
  }
}

.title-area {
  text-align: left !important;
  h1 {
    @media screen and (max-width: 765px) {
      font-size: 2.5em !important;
    }
  }
  h2,h5 {
    text-align: center
  }
  p {
    @media screen and (max-width: 765px) {
      font-size: 0.9em !important;
    }
  }
  ul {
    li {
      padding-left: 0.5em;
      margin-bottom: 0.5em;
    }
  }
}

.card {
  height: 30em;
  ul {
    padding-left: 1em;
    li {
      color: #555;
      text-align: left;
      font-size: 0.9em;
    }
  }
  .title {
    font-weight: bold;
  }
  .content {
    padding: 2em 1.2em;
  }
  .small-text {
    font-weight: bold;
  }
  .description {
    text-align: left;
  }
  .hidden {
    display: none;
  }
}

.text-male {
  color: $male-color;
}

.text-female {
  color: $female-color;
}

.img-male {
  border-color: $male-color;
}

.img-female {
  border-color: $female-color;
}

.navbar {
  .container {
    width: 95%;
  }
  .navbar-brand {
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
  }
  .navbar-collapse ul li a i {
    margin-right: 0.3em;
  }
}

.filter.filter-color-gray:before {
  background: rgba(204, 204, 204, 0.2);
}

.footer {
  padding: 1.5em;
  .contact {
    ul {
      padding: 0;
      text-align:center;
      margin-bottom: 0;
      margin-top: 0;
      a {
        margin-bottom: 0;
      }
      li {
        display: inline;
        margin-right: 1em;
        list-style: none;
      }
    }
  }
  .footer-text {
    padding: 9px 5px;
    p {
      width: 100%;
      text-align: center;
      margin-bottom: 0;
    }
  }
}

.modal-dialog {
  width: 100%;
  a {
    &:hover {
      color: white !important;
    }
  }
}
