@import 'partials/variables';
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

a {
  &:hover {
    color: $default-color !important;
    border-color: $default-color !important;
  }

  &.btn-danger:hover {
    color: white !important;
  }
}

p {
  a {
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}

#about {
  .info-icon {
    .icon {
      height: 15vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 33%;
      @media screen and (min-width: 450px) and (max-width: 1000px) {
        width: 20%;
      }
    }
  }
  .description {
    text-align: left;
  }
}

#kings-and-queens {
  .card {
    height: 100%;
    ul {
      padding-left: 1em;
      li {
        color: rgb(48, 48, 48);
        text-align: left;
        font-size: 0.9em;
      }
    }
    .title {
      font-weight: bold;
    }
    .content {
      min-height: 31em;
      padding: 2em 1.2em 1em;
    }
    .small-text {
      font-weight: bold;
    }
    .description {
      text-align: left;
      font-size: 1em;
    }
    .hidden {
      display: none;
    }
    .certificate {
      text-align: center;
      a {
        margin: 0 auto 2em;
      }
    }
  }
}

#kittens {
  ul {
    li {
      padding-left: 0.5em;
      margin-bottom: 0.5em;
    }
  }
}

#application {
  .container {
    margin-bottom: 5em;
  }
  .button-get-started {
    .btn-lg {
      font-size: 16px;
      padding: 16px 20px;
    }
  }
  .title-area {
    margin-bottom: 4em;
  }
  .description {
    text-align: left;
  }
}

#faq {
  .mb-0 {
    margin: 0;
  }
  .container {
    margin-bottom: 2em;
  }
  .accordion {
    width: 70%;
    margin: 0 auto;
  }
  .title-area {
    margin-bottom: 3em;
  }
  .card {
    margin: 0;
    box-shadow: none;
    border: none;
    border-radius: 0;
    &:not(.card-plain):not(.card-price):hover {
      transform: none;
    }
    .card-header {
      border-bottom: 1px solid black;
      .btn {
        width: 100%;
        color: black;
        text-align: left;
        .right {
          float: right;
          vertical-align:middle;
          line-height: 2em;
        }
        &:hover {
          color: $default-color;
          text-decoration: none;
        }
      }
    }
    .card-body {
      margin-bottom: 1em;
    }
    .btn {
      border: none;
    }
  }
}

#accordion_search_bar_container {
  width: 65%;
  margin: 0 auto 2em;
  position: relative;
  &:after {
    font-family: "Font Awesome 5 Free";
    content: '\f002';
    width: 18px;
    height: 18px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-weight: 900;
  }
}

#accordion_search_bar {
  width: 100%;
  border: 1px solid grey;
  border-radius: 25px;
  padding: 7px 10px;
  outline: 0;
  display: block;
}

.title-area {
  text-align: left !important;
  h1 {
    @media screen and (max-width: 765px) {
      font-size: 2.5em !important;
    }
  }
  h1, h2, h5, p {
    text-align: center;
  }
  p {
    @media screen and (max-width: 765px) {
      font-size: 0.9em !important;
    }
  }
}

.text-male {
  color: $male-color;
}

.text-female {
  color: $female-color;
}

.img-male {
  border-color: $male-color;
}

.img-female {
  border-color: $female-color;
}

.navbar {
  .container {
    width: 95%;
  }
  .navbar-brand {
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
  }
  .navbar-collapse {
    ul li {
      a i {
        margin-right: 0.3em;
      }
    }
  }
}

.filter.filter-color-gray:before {
  background: rgba(204, 204, 204, 0.2);
}

.footer {
  padding: 1.5em;
  .contact {
    ul {
      padding: 0;
      text-align:center;
      margin-bottom: 0;
      margin-top: 0;
      li {
        display: inline;
        margin-right: 1em;
        list-style: none;
        a {
          margin-bottom: 0;
          i {
            font-size: 1.3em;
          }
        }
      }
    }
  }
  .footer-text {
    padding: 9px 5px;
    p {
      width: 100%;
      text-align: center;
      margin-bottom: 0;
    }
  }
}

.modal-dialog {
  width: 100%;
  a {
    &:hover {
      color: white !important;
    }
  }
}
