@import 'partials/variables';
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

a {
  color: rgb(78, 78, 78);
  &:hover {
    color: $default-color !important;
    border-color: $default-color !important;
  }

  &.btn-danger:hover {
    color: white !important;
  }
}

p {
  a {
    text-decoration: underline;
    text-decoration-style: dotted;
    font-size: 1em;
  }
}

.description {
  font-family: $default-body-font-family;
  a {
    font-family: $default-body-font-family;
  }
  p {
    font-family: $default-body-font-family;
  }
}

.button-get-started {
  .btn {
    &:hover {
      border: 0;
    }
  }
}

#about {
  .container {
    margin-top: 25px;
  }
  .info-icon {
    .icon {
      height: 15vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 33%;
      @media screen and (min-width: 450px) and (max-width: 1000px) {
        width: 20%;
      }
    }
  }
  .description {
    text-align: left;
  }
}

#kings-and-queens {
  .card {
    height: 100%;
    ul {
      padding-left: 1em;
      li {
        color: rgb(78, 78, 78);
        text-align: left;
        font-size: 0.85em;
        font-weight: 500;
      }
    }
    .title {
      font-weight: bold;
    }
    .content {
      min-height: 31em;
      padding: 2em 1.2em 1em;
    }
    .small-text {
      font-size: 1.1em;
      font-weight: bold;
    }
    .description {
      text-align: left;
      font-size: 1em;
    }
    .hidden {
      display: none;
    }
    .certificate {
      text-align: center;
      a {
        margin: 0 auto 2em;
      }
    }
  }
}

#kittens {
  font-size: 1.1em;
  .container {
    margin-top: 25px;
  }
  ul {
    li {
      padding-left: 0.5em;
      margin-bottom: 0.1em;
    }
  }
}

#application {
  .container {
    margin-bottom: 5em;
  }
  .button-get-started {
    .btn-lg {
      font-size: 16px;
      padding: 16px 20px;
    }
  }
  .title-area {
    margin-bottom: 4em;
  }
  .description {
    text-align: left;
  }
}

#faq {
  .mb-0 {
    margin: 0;
  }
  .container {
    margin-top: 25px;
    margin-bottom: 2em;
  }
  .accordion {
    width: 70%;
    margin: 0 auto;
    @media screen and (max-width: 765px) {
      width: 90%;
    }
  }
  .title-area {
    margin-bottom: 3em;
  }
  .card {
    margin: 0;
    box-shadow: none;
    border: none;
    border-radius: 0;
    &:not(.card-plain):not(.card-price):hover {
      transform: none;
    }
    .card-header {
      border-bottom: 1px solid rgb(175, 175, 175);
      .qa-tab {
        width: 100%;
        padding: 0.8em 0.4em;
        vertical-align: middle;
        &:hover {
          text-decoration: none;
          cursor: pointer;
        }
        &:focus {
          text-decoration: none;
        }
        a[aria-expanded="true"] {
          .fa-chevron-down {
            transform: rotate(180deg);
          }
        }
        .main {
          color: rgb(66, 66, 66);
          font-weight: bold;
          font-size: 1.3em;
          display: flex;
          justify-content: space-between;
          @media screen and (max-width: 765px) {
            font-size: 1em;
          }
          &:hover {
            color: $default-color;
          }
        }
        .left {
          i {
            margin-right: 0.7em;
          }
        }
        .right {
          i {
            margin-left: 0.7em;
          }
        }
      }
    }
    .card-body {
      margin-bottom: 1em;
      padding-left: 2.5em;
      padding-right: 2.5em;
      a {
        text-decoration: underline;
        text-decoration-style: dotted;
        font-size: 1em;
        @media screen and (max-width: 765px) {
          font-size: 1em;
        }
      }
      p {
        font-size: 1.1em;
        @media screen and (max-width: 765px) {
          font-size: 0.9em;
        }
      }
    }
    .btn {
      border: none;
      font-size: 0.5em;
      padding-bottom: 0.2em;
      vertical-align: middle;
    }
  }
}

#not-found {
  min-height: 90vh;
  h2 {
    margin-top: -1.5em;
  }
  .center {
    margin-top: 1em;
    img {
      width: 70%;
      margin: 0 auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#accordion_search_bar_container {
  width: 65%;
  margin: 0 auto 2em;
  position: relative;
  &:after {
    font-family: "Font Awesome 5 Free";
    content: '\f002';
    width: 18px;
    height: 18px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-weight: 900;
  }
  input {
    text-indent: 0.5em;
  }
}

#accordion_search_bar {
  width: 100%;
  border: 1px solid grey;
  border-radius: 25px;
  padding: 7px 10px;
  outline: 0;
  display: block;
}

.title-area {
  text-align: left !important;
  h1 {
    @media screen and (max-width: 765px) {
      font-size: 2.5em !important;
    }
  }
  h1, h2, h5, p {
    text-align: center;
  }
  p {
    @media screen and (max-width: 765px) {
      font-size: 0.9em !important;
    }
  }
}

.text-male {
  color: $male-color;
}

.text-female {
  color: $female-color;
}

.img-male {
  border-color: $male-color;
}

.img-female {
  border-color: $female-color;
}

.navbar {
  .container {
    width: 95%;
  }
  .navbar-brand {
    border-radius: 10px;
    font-weight: 1000;
  }
  .navbar-collapse {
    ul li {
      a i {
        margin-right: 0.3em;
      }
    }
  }
}

.filter.filter-color-gray:before {
  background: rgba(204, 204, 204, 0.2);
}

.footer {
  padding: 1.5em;
  .contact {
    ul {
      padding: 0;
      text-align:center;
      margin-bottom: 0;
      margin-top: 0;
      li {
        display: inline;
        margin-right: 1em;
        list-style: none;
        a {
          margin-bottom: 0;
          i {
            font-size: 1.3em;
          }
        }
      }
    }
  }
  .footer-text {
    padding: 9px 5px;
    p {
      width: 100%;
      text-align: center;
      margin-bottom: 0;
    }
  }
}

.modal-dialog {
  width: 100%;
  a {
    &:hover {
      color: white !important;
    }
  }
}
