<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
        <div class="row">
            <div class="col-md-3 contact">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/furballizeragdolls" target="_blank" class="btn btn-social btn-facebook btn-simple">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/furballizeragdolls" target="_blank" class="btn btn-social btn-dribbble btn-simple">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://lin.ee/jBDx8VG" target="_blank" class="btn btn-social btn-dribbble btn-simple">
                            <i class="fab fa-line"></i>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:furballizeragdolls@gmail.com" target="_blank" class="btn btn-social btn-dribbble btn-simple">
                            <i class="far fa-envelope"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 footer-text ">
                <p>特寵業繁字第 W1070462 號</p>
            </div>
            <div class="col-md-5 footer-text">
                <p><i class="far fa-copyright"></i> <script> document.write(new Date().getFullYear()) </script> 波波球布偶貓舍 - Furballize Ragdolls Cattery</p>
            </div>
        </div>
    </div>
</footer>
