#about {
  .container {
    margin-top: 25px;
  }
  .title-area {
    h4 {
      margin-bottom: -8px;
    }
    .annoucement-info {
      font-size: 1.1em;
    }
  }
  .info-icon {
    .icon {
      height: 15vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 33%;
      @media screen and (min-width: 450px) and (max-width: 1000px) {
        width: 20%;
      }
    }
  }
  .description {
    font-size: 1.15em;
    text-align: left;
    @media screen and (max-width: 765px) {
      font-size: 1.1em !important;
    }
  }
}
