#blog {
  .container {
    margin-top: 25px;
    width: 65%;

    @media screen and (max-width: 1024px) {
      width: 85%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .title {
    line-height: 38px;
    margin: 0;
  }
  .article-title {
    font-size: 1.5em;
    font-weight: bold;
    float: left;
    @media screen and (max-width: 768px) {
      font-size: 1.4em;
      float: none;
    }
  }
  .date {
    font-family: $default-body-font-family;
    float: left;
    margin-left: 1em;
    font-size: 0.9em;
    @media screen and (max-width: 768px) {
      font-size: 1em;
      float: none;
    }
  }
  .posts {
    ul {
      a {
        &:hover {
          color: rgb(49, 49, 49) !important;
        }
        li {
          &:hover {
            border-color: #e0a1a4;
          }
          margin-top: 1em;
          padding: 1.5em 2em 1em 2em;
          blockquote {
            p {
              font-family: $default-body-font-family;
              font-size: 0.9em;
              max-height: 50px;
              overflow: hidden;
            }
            padding-top: 0;
            padding-bottom: 0;
          }
        }
      }
    }
  }
  .pagination {
    .page-item {
      a {
        font-family: $default-body-font-family;
        &:hover {
          color: $male-color !important;
          background-color: #f3f3f3 !important;
          border-color: #d0cdbc !important;
        }
      }
      span {
        font-family: $default-body-font-family;
      }
    }
  }
}
