#kings-and-queens {
  .container {
    width: 80%;
    @media screen and (max-width: 1024px) {
      width: 85% !important;
    }
    @media screen and (max-width: 768px) {
      width: 100% !important;
    }
  }
  .team {
    .row {
      margin-bottom: 0.8em;
    }
    .buttons {
      text-align: center;
      .gallery {
        display:inline-block;
        a {
          margin: 0 auto 2em;
        }
      }

      .certificate {
        margin-left: 10px;
        display:inline-block;
        a {
          margin: 0 auto 2em;
        }
      }
    }
  }
  .card {
    height: 100%;
    ul {
      padding-left: 1.2em;
      li {
        color: rgb(78, 78, 78);
        text-align: left;
        font-size: 1em;
        font-weight: 500;
      }
    }
    .title {
      font-weight: bold;
    }
    .content {
      min-height: 34em;
      padding: 2em 1.8em 1em;
    }
    .small-text {
      font-size: 1.15em;
      font-weight: bold;
    }
    .subtitle {
      font-size: 1.15em;
      font-family: $default-body-font-family;
      color: rgb(78, 78, 78);
      font-weight: 500;
    }
    .description {
      li {
        font-size: 1em;
      }
      text-align: left;
      font-size: 1.1em;
    }
    .hidden {
      display: none;
    }
  }
}
