#kittens {
  font-size: 1em;
  .container {
    margin-top: 25px;
  }
  .alert {
    margin-top: 1em;
    text-align: center;
  }
  ul {
    li {
      font-size: 1.15em;
      padding-left: 0.5em;
      margin-bottom: 0.1em;
    }
  }
}
