#kittens {
  .kitten-photos {
    margin-bottom: 1em !important;
  }
  font-size: 1em;
  .container {
    margin-top: 25px;
  }
  .alert {
    text-align: center;
  }
  .avatar {
    margin-bottom: 1em;
  }
  ul {
    padding-inline-start: 10px;
    li {
      font-size: 1.15em;
      padding-left: 0.5em;
      margin-bottom: 0.1em;
    }
  }
  .kittens-plan {
    table {
      thead tr th {
        text-align: left;
      }
    }
  }
}
