#post {
  img {
    max-width: 100%;
    height: auto;
    margin-top: 0.8em;
    @media screen and (max-width: 1024px) {
      width: 85% !important;
    }
    @media screen and (max-width: 768px) {
      width: 100% !important;
    }
  }
  .copyright {
    color: #5c5c5c;
    margin-bottom: 2em;
    @media screen and (max-width: 1024px) {
      font-size: 0.7em;
    }
  }
  .image-medium {
    width: 65%;
  }
  .blockquote-medium {
    width: 65% !important;
  }
  h4.references {
    font-weight: normal;
    font-size: 1.1em !important;
    text-decoration: underline;
  }
  ul.references {
    font-size: 0.9em !important;
    padding-left: 2em;
  }
  .container {
    margin-top: 30px;
    width: 65%;
    @media screen and (max-width: 1024px) {
      width: 85% !important;
    }
    @media screen and (max-width: 768px) {
      width: 100% !important;
    }
  }
  .article-title {
    h2 {
      font-weight: 900;
    }
    .date {
      font-family: $default-body-font-family;
      font-weight: 300;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
  .content {
    margin-top: 2em;
    margin-bottom: 3em;
    font-family: $default-body-font-family;
    font-size: 1.15em;
    p, a, h1, h2, h3, h4 {
      font-family: $default-body-font-family;
      font-size: inherit;
    }
    blockquote {
      font-family: $default-body-font-family;
      font-size: 0.9em;
      margin-left: auto;
      margin-right: auto;
      @media screen and (max-width: 1024px) {
        width: 85% !important;
      }
      @media screen and (max-width: 768px) {
        width: 100% !important;
      }
    }
    table{
      tbody tr td {
        font-family: $default-body-font-family;
        font-size: inherit;
      }
      tbody tr:first-child td {
        border: none;
      }
    }
  }
}
