---
---

@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

@import 'variables';
@import 'header';
@import 'about';
@import 'kings_and_queens';
@import 'kittens';
@import 'application';
@import 'faq';
@import 'blog';
@import 'post';
@import 'accordion_search_bar';

a {
  color: rgb(78, 78, 78);
  &:hover {
    color: $default-color !important;
    border-color: $default-color;
  }

  &.btn-danger:hover {
    color: white !important;
  }
}

p {
  a {
    text-decoration: underline;
    text-decoration-style: dotted;
    font-size: 1em;
  }
}

.dropdown {
  ul.dropdown-menu {
    i {
      margin-right: 0.7em !important;
    }
  }
  a {
    &:hover {
      border-color: none;
    }
  }
}

.description {
  font-family: $default-body-font-family;
  a {
    font-family: $default-body-font-family;
  }
  p {
    font-family: $default-body-font-family;
  }
}

.title-area {
  text-align: left !important;
  h1 {
    @media screen and (max-width: 768px) {
      font-size: 2.5em !important;
    }
  }
  h1, h2, h4, h5, p {
    text-align: center;
  }
  p {
    @media screen and (max-width: 768px) {
      font-size: 0.9em !important;
    }
  }
}

.text-male {
  color: $male-color;
}

.text-female {
  color: $female-color;
}

.img-male {
  border-color: $male-color;
}

.img-female {
  border-color: $female-color;
}

.navbar {
  .container {
    width: 95%;
  }
  .navbar-nav.navbar-uppercase {
    li {
      a {
        font-size: 0.9em;
      }
    }
  }
  .navbar-brand {
    font-size: 1.5em;
    border-radius: 10px;
    font-weight: 1000;
  }
  .navbar-collapse {
    ul li {
      a i {
        margin-right: 0.3em;
      }
    }
  }
}

#header-background {
  background-position: 0 -60px;
}

.filter.filter-color-gray:before {
  background: rgba(151, 151, 151, 0.2);
}

.footer {
  padding: 1.5em;
  .contact {
    ul {
      padding: 0;
      text-align:center;
      margin-bottom: 0;
      margin-top: 0;
      li {
        display: inline;
        margin-right: 1em;
        list-style: none;
        a {
          margin-bottom: 0;
          i {
            font-size: 1.3em;
          }
        }
      }
    }
  }
  .footer-text {
    padding: 9px 5px;
    p {
      width: 100%;
      text-align: center;
      margin-bottom: 0;
    }
  }
}

.modal-dialog {
  width: 100%;
  a {
    &:hover {
      color: white !important;
    }
  }
}
