---
layout: default
title: Blog
---

{% include child_navbar.html %}

<div class="section section-our-clients-freebie" id="blog">
    <div class="container">
        <div class="title-area">
            <h2>Blog</h2>
            <div class="separator separator-danger"><i class="fas fa-paw"></i></div>
        </div>

        <div class="posts">
            <ul class="list-group list-group-flush">
                {% for post in paginator.posts %}
                <a href="{{ post.url }}">
                    <li class="list-group-item">
                        <div class="title">
                            <div class="article-title">{{ post.title }}</div>
                            <div class="date">{{ post.date | date: "%m/%d/%Y" }}</div>
                            <div class="clearfix"></div>
                        </div>
                        <blockquote class="blockquote">
                            <p>{{ post.excerpt }} <b>閱讀更多</b></p>
                        </blockquote>
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>

        <div class="text-center" aria-label="Page navigation">
            {% if paginator.total_pages > 1 %}
            <ul class="pagination">
                {% if paginator.previous_page %}
                <li class="page-item">
                    <a href="{{ paginator.previous_page_path | relative_url }}"><i class="fas fa-arrow-left"></i></a>
                </li>
                {% endif %}

                {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                <li class="page-item active">
                    <span><b>{{ page }}</b><span class="sr-only">(current)</span></span>
                </li>
                {% elsif page == 1 %}
                <li class="page-item">
                    <a href="{{ paginator.previous_page_path | relative_url }}"><b>{{ page }}</b></a>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}"><b>{{ page }}</b></a>
                </li>
                {% endif %}
                {% endfor %}

                {% if paginator.next_page %}
                <li class="page-item">
                    <a href="{{ paginator.next_page_path | relative_url }}"><i class="fas fa-arrow-right"></i></a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
