---
layout: default
---

{% include child_navbar.html %}

<div class="section section-our-clients-freebie" id="blog">
    <div class="container">
        <div class="title-area">
            <h2>Blog</h2>
            <div class="separator separator-danger"><i class="fas fa-paw"></i></div>
        </div>

        <ul class="list-group list-group-flush">
            {% for post in paginator.posts %}
            <a href="{{ post.url }}">
                <li class="list-group-item">
                    <div class="title">
                        <div class="article-title">{{ post.title }}</div>
                        <div class="date">{{ post.date | date: "%m/%d/%Y" }}</div>
                        <div class="clearfix"></div>
                    </div>
                    <blockquote class="blockquote">
                        <p>{{ post.excerpt }} <b>閱讀更多</b></p>
                    </blockquote>
                </li>
            </a>
            {% endfor %}
        </ul>

        <nav aria-label="Page navigation">
            {% if paginator.total_pages > 1 %}
            <ul class="pagination justify-content-center">
                {% if paginator.previous_page %}
                <li><a href="{{ paginator.previous_page_path | relative_url }}">Prev</a></li>
                {% else %}
                <li class="disabled"><span>Prev</span></li>
                {% endif %}

                {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                <li class="active"><span>{{ page }}</span></li>
                {% elsif page == 1 %}
                <li><a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a></li>
                {% else %}
                <li><a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a></li>
                {% endif %}
                {% endfor %}

                {% if paginator.next_page %}
                <li><a href="{{ paginator.next_page_path | relative_url }}">Next</a></li>
                {% else %}
                <li class="disabled"><span>Next</span></li>
                {% endif %}
            </ul>
            {% endif %}
        </nav>
    </div>
</div>
