$default-color: #e78b90 !default;
$default-font-family: "cwTeXYen", "Architects Daughter", "cursive", "Poppins", "Helvetica Neue", "Helvetica", "Arial", "sans-serif" !default;
$default-body-font-family: "cwTeXYen", "Open Sans", "cursive", "Poppins", "Helvetica Neue", "Helvetica", "Arial", "sans-serif" !default;

$female-color: #e78b90 !default;
$male-color: rgb(50, 126, 197) !default;
